<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleDataBaseProject</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/WelcomePage.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreatePatientController</display-name>
    <servlet-name>CreatePatientController</servlet-name>
    <servlet-class>Servlet.CreatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePatientController</servlet-name>
    <url-pattern>/CreatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatient</display-name>
    <servlet-name>ViewPatient</servlet-name>
    <servlet-class>Servlet.ViewPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatient</servlet-name>
    <url-pattern>/ViewPatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPatientController</display-name>
    <servlet-name>ViewPatientController</servlet-name>
    <servlet-class>Servlet.ViewPatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPatientController</servlet-name>
    <url-pattern>/ViewPatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePatientController</display-name>
    <servlet-name>UpdatePatientController</servlet-name>
    <servlet-class>Servlet.UpdatePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePatientController</servlet-name>
    <url-pattern>/UpdatePatientController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomePageController</display-name>
    <servlet-name>WelcomePageController</servlet-name>
    <servlet-class>Servlet.WelcomePageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomePageController</servlet-name>
    <url-pattern>/WelcomePageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePatientController</display-name>
    <servlet-name>DeletePatientController</servlet-name>
    <servlet-class>Servlet.DeletePatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePatientController</servlet-name>
    <url-pattern>/DeletePatientController</url-pattern>
  </servlet-mapping>
</web-app>